/*     
    Document   : Boost Global StyleSheet
    Author     : Jerrol Krause
    Description:
        Master global stylesheet for boostmobile.com



@import '_variables.scss';
@import '_mixins.scss';
@import '_placeholders.scss';
*/
@import url(foundation.css);
@import url(foundation-icons.css);
/*
 * Variables
 */
@font-face {
  font-family: 'BPreplay';
  src: url(../fonts/BPreplay.otf); }
/*
 * Content
 */
body {
  background-color: #fff; }

h1, h2, h3, h4, h5 {
  color: #005300;
  font-family: "BPreplay", sans-serif; }

a, a:link {
  color: #aa6c39; }

a:hover {
  color: #552700;
  text-decoration: underline; }

*:focus {
  outline: none; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.button, .button:link, button {
  background-color: #aa6c39;
  color: #fff;
  height: 2.3125rem;
  margin: 0 0 1rem;
  padding: .5rem;
  font-size: 0.9rem;
  margin-bottom: 0px;
  border-radius: 5px; }

.button:hover, button:hover {
  background-color: #552700;
  text-decoration: none; }

.fi {
  margin-right: 10px; }

.task-toggle {
  font-size: 12px;
  float: right;
  margin-top: 15px; }

label {
  color: #aa6c39;
  cursor: pointer; }

label:hover {
  color: #552700;
  text-decoration: underline; }

input[type="checkbox"] {
  cursor: pointer;
  border-color: #aa6c39; }

#today {
  position: relative;
  top: -2px; }

#gt-cal-header {
  padding-bottom: 5px !important; }

#gt-header {
  background-color: #1e1f22; }
  #gt-header h1 {
    color: #aa6c39; }
  #gt-header h1 .green {
    color: #2d882d; }
  #gt-header h1 .white {
    color: #fff; }

#gt-container {
  font-size: 0.9em; }
  #gt-container .row {
    max-width: 100%; }
  #gt-container p, #gt-container li {
    font-size: 0.9em; }

.gt-col {
  float: left;
  text-align: center;
  width: 8.333%;
  background: #f7f7f7 url("../img/pixel-white.png") repeat-y right top;
  font-size: 0.8rem; }
  .gt-col:first-child {
    border-radius: 5px 0px 0px 5px; }
  .gt-col:last-child {
    border-radius: 0px 5px 5px 0px; }

#gt-schedule {
  border-top: 1px solid #ccc;
  padding-top: 20px; }
  #gt-schedule h3, #gt-schedule .tabs {
    border-bottom: 1px solid #552700; }
  #gt-schedule #dp1 {
    border-radius: 5px 0px 0px 5px; }
  #gt-schedule #dropcal {
    border-radius: 0px 5px 5px 0px;
    position: relative;
    left: -3px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    font-size: 30px;
    top: 6px; }

#gt-areas {
  position: relative;
  clear: both; }

#gt-today {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; }

#gt-today .columns {
  height: 100%; }

#gt-today2 {
  height: 100%;
  position: relative; }

#gt-main-line {
  background-color: #f00;
  position: absolute;
  width: 1px;
  height: 100%; }

#gt-today-line {
  background-color: #007ba4;
  position: absolute;
  width: 1px;
  height: 100%; }

.gt-area {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  background-color: #f7f7f7; }

.gt-area-row {
  position: relative;
  height: 25px;
  overflow: hidden; }

.gt-seedlings {
  position: absolute;
  z-index: 11;
  top: 0px;
  background-color: #00a627;
  height: 25px;
  border-radius: 5px 0px 0px 5px; }

.gt-growing {
  position: absolute;
  z-index: 12;
  top: 0px;
  background-color: #037200;
  height: 25px; }

.gt-harvest {
  position: absolute;
  z-index: 10;
  top: 0px;
  background-color: #c79359;
  height: 25px;
  border-radius: 0px 5px 5px 0px; }

.gt-produce {
  background: url("../img/thumbs/sprite-produce.png") no-repeat 0px 0px;
  padding-left: 30px;
  line-height: 25px;
  min-height: 25px;
  position: relative; }
  .gt-produce.cucumber {
    background-position: 0px -50px; }
  .gt-produce.broccoli {
    background-position: 0px -100px; }
  .gt-produce.brussel_sprouts {
    background-position: 0px -150px; }
  .gt-produce.carrot {
    background-position: 0px -200px; }
  .gt-produce.lettuce {
    background-position: 0px -250px; }
  .gt-produce.melon {
    background-position: 0px -300px; }
  .gt-produce.potato {
    background-position: 0px -350px; }
  .gt-produce.pumpkin {
    background-position: 0px -400px; }
  .gt-produce.sweet_potato {
    background-position: 0px -450px; }
  .gt-produce.squash {
    background-position: 0px -500px; }
  .gt-produce.swiss_chard {
    background-position: 0px -550px; }
  .gt-produce.tomato {
    background-position: 0px -600px; }
  .gt-produce.bell_pepper {
    background-position: 0px -650px; }
  .gt-produce .inline {
    display: inline !important; }

.gt-area-item {
  margin-bottom: 1px; }
  .gt-area-item img {
    margin-right: 10px;
    float: left; }

.dropdown-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  outline: 0px; }
  .dropdown-menu div:active {
    outline: none; }
  .dropdown-menu li {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .dropdown-menu table {
    min-width: 350px; }
  .dropdown-menu thead, .dropdown-menu tr, .dropdown-menu th {
    background: none;
    padding: 0px; }
  .dropdown-menu td {
    background: none;
    border: 0px;
    padding: 0px;
    width: 42px; }
  .dropdown-menu button {
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    border-color: #ccc;
    padding: .5625rem .625rem;
    background-color: #fff7f1;
    color: #552700; }
  .dropdown-menu button:hover, .dropdown-menu button.btn-info {
    background-color: #aa6c39;
    color: #fff; }
  .dropdown-menu .btn {
    width: 100%; }
  .dropdown-menu .btn-group .btn-info {
    margin-bottom: 10px; }
  .dropdown-menu .btn-danger, .dropdown-menu .btn-success {
    display: none; }
  .dropdown-menu button span {
    background-color: none; }

/*
 * Media Queries
 */
/* Small */
@media only screen and (max-width: 40em) {
  #gt-areas {
    background-color: #f7f7f7;
    padding-top: 5px;
    padding-bottom: 5px; }

  .gt-area {
    padding: 0px;
    margin: 0px;
    background-color: transparent; }

  #gt-calendar .small-2, #gt-calendar .small-10 {
    padding-left: .25rem;
    padding-right: .25rem; }

  .gt-area-item img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #gt-schedule-prev {
    border-top: 1px solid #ccc; }

  .gt-produce .show-for-small {
    font-size: .8em;
    position: absolute;
    bottom: 0px;
    line-height: initial;
    text-shadow: -1px -1px #fff;
    left: 20px; }

  .dropdown-menu {
    position: absolute;
    left: 0px !important; }
    .dropdown-menu table {
      min-width: 304px; }
    .dropdown-menu button {
      padding: 0px; } }
/* Medium */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #gt-schedule-prev {
    border-top: 1px solid #ccc; } }
/* Large */
/* XT-Large */
@media only screen and (min-width: 90.063em) {
  .gt-col {
    font-size: 0.9rem; } }

/*# sourceMappingURL=global.css.map */
