<div class="gt-area row" ng-repeat="area in data track by $index">
    <h4>{{area.label}}</h4>
    <div class="row"  ng-repeat="produce2 in area.produce track by produce2.slug">
        <div class="large-3 columns">{{produce2.label}}</div>
        <div class="large-9 columns">
            <div class="gt-plant gt-seedlings" style="float:left;width:{{produce2.dom.wSeedlings}}%;margin-left:{{produce2.dom.position}}%"></div>
            <div class="gt-plant gt-growing" style="float:left;width:{{produce2.dom.wGrowing}}%;"></div>
            <div class="gt-plant gt-harvest" style="float:left;width:{{produce2.dom.wHarvesting}}%;""></div>
        </div>
    </div>
</div>