<div class="gt-area row" ng-repeat="area in data track by $index">
    <h4 class="large-12 columns show-for-medium-up">{{area.label}}</h4>

    <div class="gt-area-item clearfix gt-season-{{produce2.dom.season}}" ng-repeat="produce2 in area.produce track by produce2.id" ng-if="data2.filters.season == false || data2.filters.season[produce2.dom.season] == true">
        
        <div class="large-3 medium-4 small-2 columns"><img src="img/thumbs/default.png" alt="{{produce2.label}} Thumbnail" class="hide-for-medium2"/>
            <div class="show-for-medium-up">{{produce2.label}} <span ng-if="produce2.plantCount">({{produce2.plantCount}})</span></div>
        </div>
        
        <div class="large-9 medium-8 small-10 columns">
            <div class="gt-area-row">
                <div class="gt-seedlings" style="left:{{produce2.dom.pSeedlings}}%;width:{{produce2.dom.wSeedlings}}%;"></div>
                <div class="gt-growing" style="left:{{produce2.dom.pGrowing}}%;width:{{produce2.dom.wGrowing}}%;"></div>
                <div class="gt-harvest" style="left:{{produce2.dom.pHarvesting}}%;width:{{produce2.dom.wHarvesting}}%;"></div>
                
                <div ng-if="produce2.dom.pSeedlings + produce2.dom.wSeedlings > 100" class="gt-seedlings" style="left:{{-(100 - produce2.dom.pSeedlings)}}%;width:{{produce2.dom.wSeedlings}}%;"></div>
                <div ng-if="produce2.dom.pGrowing + produce2.dom.wGrowing > 100" class="gt-growing" style="left:{{-(100 - produce2.dom.pGrowing)}}%;width:{{produce2.dom.wGrowing}}%;"></div>
                <div ng-if="produce2.dom.pHarvesting + produce2.dom.wHarvesting > 100" class="gt-harvest" style="left:{{-(100 - produce2.dom.pHarvesting)}}%;width:{{produce2.dom.wHarvesting}}%;"></div>
            </div>
        </div>
        
    </div>
</div>