<div class="gt-area" ng-repeat="area in data track by $index">
    <h4>{{area.label}} </h4>

    <div class="gt-produce filter gt-row filter-season-spring"  ng-repeat="produce2 in area.produce track by produce2.slug">
        <div class="gt-description gt-row">{{produce2.label}}</div>
        <div class="gt-content gt-row">
            <div class="gt-plant gt-planting" data-date="2015-03-07" style="left: 181px; width: 449px;">
                <div class="gt-plant gt-seedlings" data-date="2015-02-14" style="width: 86px;"></div>
                <div class="gt-plant gt-harvestStart" data-date="2015-05-06" style="width: 115px;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

</div>