<!doctype html>
<html class="no-js" lang="en" ng-app="gtApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GreenThumb</title>
        <link rel="stylesheet" href="css/global.min.css" />
        <!--[if lt IE 9]>
           <script src="js/vendor/html5shiv.min.js"></script>
       <![endif]-->
    </head>

    <body>
        <div id="gt-container">

            <div class="row">
                <h1>Schedule</h1>
                <hr/>
            </div>

            <!-- Tasks -->
            <div id="gt-schedule" class="row" ng-controller="gtSchedule" style="display:none1;">
                <div class="large-4 columns" id="gt-schedule-today">
                    <h3>Today</h3>
                    <date-entry data="tasksToday" data2="params"></date-entry>
                </div>
                <div class="large-4 columns" id="gt-schedule-next">
                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#panel1"><h3>Upcoming</h3></a></li>
                        <li class="tab-title"><a href="#panel2"><h3>Previous</h3></a></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="content active" id="panel1">
                            <date-entry data="tasksNext" data2="params"></date-entry>
                        </div>
                        <div class="content" id="panel2">
                            <date-entry data="tasksPrev" data2="params"></date-entry>
                        </div>
                    </div>


                </div>
                <div class="large-4 columns" id="gt-schedule-prev" ng-controller="gtDisplay">
                     <h3>Display Options:</h3>
                <p>Date : <input type="text" class="span2" value="" id="dp1" style="width:200px;" ng-value="datetoday" ng-model="date" ng-change="display()" datepicker=''/> <a href="#" ng-click="display('today')">Today</a></p>

                    <filter-option data="filters"></filter-option>

                    <!-- 
                   <hr/>
                   <form action="#" id="gt-filter-season">
                       <h4>Season</h4>
                       <input type="checkbox" value="spring" name="spring" id="spring" ng-model="filterOptions.season.spring" ng-click="filterGarden()"><label for="spring">Spring (Mar - June)</label><br/>
                       <input type="checkbox" value="summer" name="summer" id="summer" ng-model="filterOptions.season.summer" ng-click="filterGarden()"><label for="summer">Summer (July - Oct)</label><br/>
                       <input type="checkbox" value="fall" name="fall" id="fall" ng-model="filterOptions.season.fall" ng-click="filterGarden()"><label for="fall">Fall (Nov - Feb)</label>

                       <h4>Task Type</h4>
                       <input type="checkbox" value="seedlings" name="gt-filter-task-start-seedlings" id="gt-filter-task-start-seedlings" ng-click="filterGarden()" ng-model="filterOptions.tasks.seedlings"><label for="gt-filter-task-start-seedlings">Start Seedlings</label><br/>
                       <input type="checkbox" value="planting" name="gt-filter-task-plant" id="gt-filter-task-plant" ng-click="filterGarden()" ng-model="filterOptions.tasks.plant"><label for="gt-filter-task-plant">Plant</label><br/>
                       <input type="checkbox" value="harvestStart" name="gt-filter-task-harvest" id="gt-filter-task-harvest" ng-click="filterGarden()" ng-model="filterOptions.tasks.harvest_start"><label for="gt-filter-task-harvest">Harvest</label><br/>
                       <input type="checkbox" value="harvestComplete" name="gt-filter-task-complete-harvest" id="gt-filter-task-complete-harvest" ng-click="filterGarden()" ng-model="filterOptions.tasks.harvest_complete"><label for="gt-filter-task-complete-harvest">Complete Harvest</label>

                       <h4>Misc</h4>
                       <input type="checkbox" id="calcSeedlings" value="Calculate # of Plants" ng-model="calcSeedlings" ng-click="filterGarden()" class="ng-pristine ng-untouched ng-valid"><label for="calcSeedlings">Calculate # of Plants</label>
                   </form>
                    -->

                </div>
                
                <hr/>
            </div>


            <!-- Calendar -->
            <div id="gt-calendar" ng-controller="gtCalendar">

                <h2>Growing Areas:</h2>
                <div class="row" id="gt-cal-header">
                    <div class="large-3 medium-4 small-2 columns show-for-medium-up"></div>
                    <div class="large-9 medium-8 small-10 columns">
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">J</span><span class="show-for-medium-only">Jan</span><span class="show-for-large-up">January</span></div>
                        <div class="gt-col" data-days="28"><span class="show-for-small-only">F</span><span class="show-for-medium-only">Feb</span><span class="show-for-large-up">February</span></div>
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">M</span><span class="show-for-medium-only">Mar</span><span class="show-for-large-up">March</span></div>
                        <div class="gt-col" data-days="30"><span class="show-for-small-only">A</span><span class="show-for-medium-only">Apr</span><span class="show-for-large-up">April</span></div>
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">M</span><span class="show-for-medium-only">May</span><span class="show-for-large-up">May</span></div>
                        <div class="gt-col" data-days="30"><span class="show-for-small-only">J</span><span class="show-for-medium-only">June</span><span class="show-for-large-up">June</span></div>
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">J</span><span class="show-for-medium-only">July</span><span class="show-for-large-up">July</span></div>
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">A</span><span class="show-for-medium-only">Aug</span><span class="show-for-large-up">August</span></div>
                        <div class="gt-col" data-days="30"><span class="show-for-small-only">S</span><span class="show-for-medium-only">Sept</span><span class="show-for-large-up">September</span></div>
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">O</span><span class="show-for-medium-only">Oct</span><span class="show-for-large-up">October</span></div>
                        <div class="gt-col" data-days="30"><span class="show-for-small-only">N</span><span class="show-for-medium-only">Nov</span><span class="show-for-large-up">November</span></div>
                        <div class="gt-col" data-days="31"><span class="show-for-small-only">D</span><span class="show-for-medium-only">Dec</span><span class="show-for-large-up">December</span></div>
                    </div>
                </div>

                <h3 ng-bind="name"></h3>
                <div id="gt-areas">
                    <div id="gt-date" class="show-for-large-up"></div>
                    <areas data="garden" data2="params"></areas>
                </div>

            </div>
        </div>

        <script src="js/plugins.min.js"></script>
        <!-- <script src="js/scripts.min.js"></script>-->

        <script src="js/produce.js" type="text/javascript"></script>
        <script src="js/controller.js" type="text/javascript"></script>

        <script>$(document).foundation();</script>
    </body>
</html>